<div class="d-flex flex-row content-space-between mat-cell ">
    <div class="d-flex flex-row nav-bar-padding">
        <img src="https://www.labelmaster.com/product/image/medium/bp2cpr_0.jpg" class="thumbnail" alt="">
        <h1 style="padding-top: 10px; margin-left:15px; font-weight:bold">Online Shop</h1>
    </div>
    <div style="float:right; margin-right:55px; display: flex;">
        <h2>Home</h2>
        <h2>Today's deals</h2>
        <mat-icon matPrefix style="margin:15px 14px 0 0 ; color: blueviolet;">search</mat-icon>
        <img src="https://tse2.mm.bing.net/th?id=OIP.0A1-eN_ykSrjqRycTSmYrwHaHa&pid=Api&P=0"class="small-thumbnail"/>
    </div>
</div>